body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    align-content: center;
}

header {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.team-intro, .team-members {
    padding: 20px;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.banner {
    height: 100px;
    border-radius: 50%;
}

.member {
    width: 270px;
    margin: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h1 {
    font-size: xx-large;
}

button {  
    padding: 10px;
    background-color: #00b7ff; 
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
